@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap");

body {
  background-color: rgb(13, 14, 33);
  max-height: 100vh;
  justify-items: center;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
}

.title {
  background-image: linear-gradient(
    to right,
    rgb(138, 72, 243),
    rgb(201, 131, 255)
  );
  background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 3.5rem;
  margin: 30px auto 100px auto;
}

button {
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  border: rgb(61, 21, 124) solid 2px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 1rem;
  text-shadow: 0px 1px 1px rgba(141, 48, 255, 0.6);
  background-color: white;
}

.keyboardContainer {
  padding: 5px;
  display: flex;
  margin: 10px;
  width: 1000px;
  border-radius: 5px;
  border-color: rgba(141, 48, 255, 0.343);
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 7px 20px rgba(141, 48, 255, 0.163);
}

.leftKeys {
  flex-direction: column;
}

.mainKeys {
  display: flex;
  flex-direction: column;
}

.mainKeysRow1,
.mainKeysRow2,
.mainKeysRow3,
.mainKeysRow4,
.mainKeysRow5 {
  display: flex;
}

.mainKeys button {
  flex: 1;
}

#Backspace {
  flex-grow: 2;
  font-size: 0.8rem;
}

#Tab {
  font-size: 0.8rem;
  flex-grow: 1.5;
}

#CapsLock {
  font-size: 0.8rem;
  flex-grow: 1.75;
}

#Enter {
  font-size: 0.8rem;
  flex-grow: 2.25;
}

#ShiftLeft,
#ShiftRight {
  font-size: 0.8rem;
  flex-grow: 2.25;
}

#Space {
  font-size: 0.8rem;
  flex-grow: 6;
}

#MetaRight,
#AltRight,
#MetaLeft,
#AltLeft {
  font-size: 0.8rem;
}

#ControlRight,
#ControlLeft {
  font-size: 0.8rem;
  flex-grow: 1.25;
}

.rightKeys {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: space-between;
}

.pageKeys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.arrowKeys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.arrowKeys button:nth-child(1) {
  grid-area: 1 / 2 / 2 / 3;
}

.arrowKeys button:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
}

.arrowKeys button:nth-child(3) {
  grid-area: 2 / 2 / 3 / 3;
}

.arrowKeys button:nth-child(4) {
  grid-area: 2 / 3 / 3 / 4;
}

#ArrowUp,
#ArrowDown {
  font-size: 0.8rem;
}

#ArrowRight,
#ArrowLeft {
  font-size: 1.1rem;
}

.pageKeys button {
  font-size: 0.8rem;
}

.resetBtn {
  border-radius: 50px;
  width: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 7px 20px rgba(141, 48, 255, 0.163);
  cursor: pointer;
}

.resetBtn:hover {
  color: white;
  text-shadow: none;
  background-color: rgb(61, 21, 124);
  border: rgba(255, 255, 255, 0.343) solid 2px;
}
